

<div class="container-header">
  <!-- <mat-form-field class="full-width-input" color="primary"  style="margin-left:20px;">
    <input matInput placeholder="Name of This Form Set" formControlName="nameOfThisFormSet"  class="font-open-sans">
  </mat-form-field> -->

  <button mat-button (click)="openFormFieldDefinitionDialogClick()">
    <mat-icon >add</mat-icon>
    Add Form Field Definition
  </button>

  <button mat-button (click)="publishFormSetDefinition()">
    <mat-icon>refresh</mat-icon>
    Generate Code
  </button>

</div>





    <mat-error *ngIf="formDefinitionsInvalid">
      The definition form is incomplete.
    </mat-error>

    <div cdkDropList (cdkDropListDropped)="drop($event)" class="definition-list" *ngIf="formFieldDefinitions">
      <div *ngFor ="let definition of formFieldDefinitions;let i = index" cdkDrag class="definition-box mat-elevation-z8"  >

              <p>Form Control Name: <strong>{{definition.formControlName}}</strong></p>
              <p>Element Type: <strong>{{definition.formElementType}}</strong></p>
              <p>Form Placeholder Value: <strong>{{definition.formPlaceHolderName}}</strong></p>
              <p>CSS Class Name: <strong>{{definition.formCssClassName}}</strong></p>
              <mat-divider></mat-divider>

              <button mat-button (click)="deleteFormDefinitionClick(i)">
                <mat-icon  color="primary">delete</mat-icon>
              </button>
              <button mat-button (click)="editFormSetDefinitionClick(i)">
                <mat-icon  color="primary">edit</mat-icon>
              </button>

            </div>
    </div>










