.card{
margin: 50px;
}

.field-template{
  margin-right:25px;
}

.definition-item-card{
  width: 100%;
  height:100%;
}

.container-header{
  width:95%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  margin-bottom:20px;
  padding: 00px;
}

.container-main{
  width:95%;
  min-height:300px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  margin-bottom:20px;

}

.container-for-definitions{
  display:flex;
  padding: 20px;
  align-items: flex-end;
}

.definition-col-title{
  margin-right: 30px;
  width: 300px;
  font-size:14px;
  color: gray;
}

.definition-col-content{
  margin-right: 30px;
  width: 300px;
  font-size:14px;
  color:black;
}

.definition-col-delete{
  width:200px;
  // text-align: right;
}
