<mat-card>

  <mat-card-title>Define Form Field Element</mat-card-title>

  <mat-card-content>

    <form [formGroup]="newFormDefinition" (ngSubmit)="formSubmit(newFormDefinition)">
    <mat-form-field class="field-template"  color="primary">
      <mat-label>Type of Element</mat-label >
      <mat-select formControlName="definitionElementType" (selectionChange)='onElementTypeChanged($event.value)'>
        <mat-option *ngFor="let element of formFieldElementType | enumToArray" [value]="element.key">
          {{element.value}}
        </mat-option>
      </mat-select>
      <mat-error>
        The Element Type is
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="field-template"  color="primary">
      <input matInput placeholder="Form Control Name" formControlName="definitionFormControlName">
      <mat-error>The Form Control Name is required</mat-error>
    </mat-form-field>

    <mat-form-field  class="field-template"  color="primary">
      <input matInput placeholder="Form Placeholder Name" formControlName="definitionPlaceholderName">
      <mat-error>The Form Placeholder Name is required</mat-error>
    </mat-form-field>

    <mat-form-field  class="field-template"  color="primary">
      <input matInput placeholder="Class Name (optional)" formControlName="definitionCssClassName">
    </mat-form-field>


    <br />
    <button mat-icon-button type="submit">
      <mat-icon color="primary">
        done
      </mat-icon>
      Save
    </button>

    <button mat-icon-button type="submit" style="margin-left:40px;width:160px;">
      <mat-icon color="primary">
        done_all
      </mat-icon>
      Save and Enter Another
    </button>

    <button mat-icon-button (click)="onNoActionClick()" style="margin-left:40px;margin-right:40px;">
      <mat-icon color="primary">
        cancel
      </mat-icon>
      cancel
    </button>

   </form>
  </mat-card-content>

  <!-- <mat-card-actions style="text-align: right;"> -->



  <!-- </mat-card-actions> -->


</mat-card>

